

{% block container %}

<!--{{  results | length}}-->
<h5>Rainfall Watch</h5>
<table border=1 class='table table-striped'>
<tr><th>Basin name</td>
	<th>Station name</td>
	<th>Status</td>
</tr>
{% for x in results %}
	{% with y=forloop.counter|stringformat:"s" %}
	<tr>
	{% for y in x %}
		{% with z=forloop.counter|stringformat:"s" %}
		{% if y == 'Below Warning Level' %}
			No Danger in {{ x }} <br />
		{% endif %}
		<td>{{ y }}</td>

		{% endwith%}
	{% endfor %}

{% endwith %}

	</tr>
{% endfor %}
</tr>
</table>

{% endblock %}
