

<p>Crop: {{ tmp.crop }}</p>
<p>General time: {{ tmp.general_time }}
<p>Max Humidity: {{ tmp.max_humidity }}</p>
<p>Average rain:{{ tmp.avg_rain }}</p>
<p>Min humidity:{{ tmp.min_humidity }}</p>
<p>Approx. Date :{{ tmp.date }}</p>
<p>Min temperature:{{ tmp.min_temp }}</p>
<p>Max temperature:{{ tmp.max_temp }}</p>
<button class='btn' id='send-to-farmer'>Send Details</button>
<script type="text/javascript">
	$( "#send-to-farmer" ).click(function() {
		alert("The above details have been sent to the registered farmers");
	});
</script>

