<table border=1 class='table table-striped'>
<tr><th>Basin name</td>
    <th>Station name</td>
    <th>Status</td>
</tr>


    <tr>



        <td>Karnali</td>





        <td>Karnali at Chisapani</td>





            <!-- No Danger in [u&#39;Karnali&#39;, u&#39;Karnali at Chisapani&#39;, u&#39;Below Warning Level&#39;] <br /> -->

        <td>Below Warning Level</td>






    </tr>


    <tr>



        <td>Karnali</td>





        <td>Dailekh</td>





            <!-- No Danger in [u&#39;Karnali&#39;, u&#39;Dailekh&#39;, u&#39;Below Warning Level&#39;] <br /> -->

        <td>Below Warning Level</td>






    </tr>


    <tr>



        <td>Karnali</td>





        <td>Jajarkot</td>





            <!-- No Danger in [u&#39;Karnali&#39;, u&#39;Jajarkot&#39;, u&#39;Below Warning Level&#39;] <br /> -->

        <td>Below Warning Level</td>






    </tr>


    <tr>



        <td>Babai </td>





        <td>Babai at Chepang</td>





            <!-- No Danger in [u&#39;Babai &#39;, u&#39;Babai at Chepang&#39;, u&#39;Below Warning Level&#39;] <br /> -->

        <td>Below Warning Level</td>






    </tr>


    <tr>



        <td>Babai </td>





        <td>Gularia</td>





            <!-- No Danger in [u&#39;Babai &#39;, u&#39;Gularia&#39;, u&#39;Below Warning Level&#39;] <br /> -->

        <td>Below Warning Level</td>






    </tr>


    <tr>



        <td>Babai </td>





        <td>Ranijaruwa</td>





            <!-- No Danger in [u&#39;Babai &#39;, u&#39;Ranijaruwa&#39;, u&#39;Below Warning Level&#39;] <br /> -->

        <td>Below Warning Level</td>






    </tr>


    <tr>



        <td>Babai </td>





        <td>Tulsipur</td>





            <!-- No Danger in [u&#39;Babai &#39;, u&#39;Tulsipur&#39;, u&#39;Below Warning Level&#39;] <br /> -->

        <td>Below Warning Level</td>






    </tr>


    <tr>



        <td>Babai </td>





        <td>Ghorahi</td>





            <!-- No Danger in [u&#39;Babai &#39;, u&#39;Ghorahi&#39;, u&#39;Below Warning Level&#39;] <br /> -->

        <td>Below Warning Level</td>






    </tr>


    <tr>



        <td>Babai </td>





        <td>Ghorahi</td>





            <!-- No Danger in [u&#39;Babai &#39;, u&#39;Ghorahi&#39;, u&#39;Below Warning Level&#39;] <br /> -->

        <td>Below Warning Level</td>






    </tr>


    <tr>



        <td>Babai </td>





        <td>Tharmare</td>





            <!-- No Danger in [u&#39;Babai &#39;, u&#39;Tharmare&#39;, u&#39;Below Warning Level&#39;] <br /> -->

        <td>Below Warning Level</td>






    </tr>


    <tr>



        <td>Babai </td>





        <td>Rampur-Kalimati</td>





            <!-- No Danger in [u&#39;Babai &#39;, u&#39;Rampur-Kalimati&#39;, u&#39;Below Warning Level&#39;] <br /> -->

        <td>Below Warning Level</td>






    </tr>


    <tr>



        <td>Babai </td>





        <td>Padampur</td>





            <!-- No Danger in [u&#39;Babai &#39;, u&#39;Padampur&#39;, u&#39;Below Warning Level&#39;] <br /> -->

        <td>Below Warning Level</td>






    </tr>


    <tr>



        <td>West Rapti</td>





        <td>West Rapti at Bagasoti</td>





            <!-- No Danger in [u&#39;West Rapti&#39;, u&#39;West Rapti at Bagasoti&#39;, u&#39;Below Warning Level&#39;] <br /> -->

        <td>Below Warning Level</td>






    </tr>


    <tr>



        <td>West Rapti</td>





        <td>West Rapti at Kusum</td>





            <!-- No Danger in [u&#39;West Rapti&#39;, u&#39;West Rapti at Kusum&#39;, u&#39;Below Warning Level&#39;] <br /> -->

        <td>Below Warning Level</td>






    </tr>


    <tr>



        <td>West Rapti</td>





        <td>Nepalgunj</td>





            <!-- No Danger in [u&#39;West Rapti&#39;, u&#39;Nepalgunj&#39;, u&#39;Below Warning Level&#39;] <br /> -->

        <td>Below Warning Level</td>






    </tr>


    <tr>



        <td>West Rapti</td>





        <td>Dhakeri</td>





            <!-- No Danger in [u&#39;West Rapti&#39;, u&#39;Dhakeri&#39;, u&#39;Below Warning Level&#39;] <br /> -->

        <td>Below Warning Level</td>






    </tr>


    <tr>



        <td>West Rapti</td>





        <td>Libang Gaon</td>





            <!-- No Danger in [u&#39;West Rapti&#39;, u&#39;Libang Gaon&#39;, u&#39;Below Warning Level&#39;] <br /> -->

        <td>Below Warning Level</td>






    </tr>


    <tr>



        <td>West Rapti</td>





        <td>Bijuwartar</td>





            <!-- No Danger in [u&#39;West Rapti&#39;, u&#39;Bijuwartar&#39;, u&#39;Below Warning Level&#39;] <br /> -->

        <td>Below Warning Level</td>






    </tr>


    <tr>



        <td>West Rapti</td>





        <td>Swargadwari</td>





            <!-- No Danger in [u&#39;West Rapti&#39;, u&#39;Swargadwari&#39;, u&#39;Below Warning Level&#39;] <br /> -->

        <td>Below Warning Level</td>






    </tr>


    <tr>



        <td>Narayani</td>





        <td>Ghalekharkha</td>





            <!-- No Danger in [u&#39;Narayani&#39;, u&#39;Ghalekharkha&#39;, u&#39;Below Warning Level&#39;] <br /> -->

        <td>Below Warning Level</td>






    </tr>


    <tr>



        <td>Narayani</td>





        <td>Kaligandaki at Kumalgaon</td>





            <!-- No Danger in [u&#39;Narayani&#39;, u&#39;Kaligandaki at Kumalgaon&#39;, u&#39;Below Warning Level&#39;] <br /> -->

        <td>Below Warning Level</td>






    </tr>


    <tr>



        <td>Narayani</td>





        <td>Trishuli at Betrawati</td>





            <!-- No Danger in [u&#39;Narayani&#39;, u&#39;Trishuli at Betrawati&#39;, u&#39;Below Warning Level&#39;] <br /> -->

        <td>Below Warning Level</td>






    </tr>


    <tr>



        <td>Narayani</td>





        <td>Beni</td>





            <!-- No Danger in [u&#39;Narayani&#39;, u&#39;Beni&#39;, u&#39;Below Warning Level&#39;] <br /> -->

        <td>Below Warning Level</td>






    </tr>


    <tr>



        <td>Narayani</td>





        <td>Danda</td>





            <!-- No Danger in [u&#39;Narayani&#39;, u&#39;Danda&#39;, u&#39;Below Warning Level&#39;] <br /> -->

        <td>Below Warning Level</td>






    </tr>


    <tr>



        <td>Narayani</td>





        <td>Pokhara</td>





            <!-- No Danger in [u&#39;Narayani&#39;, u&#39;Pokhara&#39;, u&#39;Below Warning Level&#39;] <br /> -->

        <td>Below Warning Level</td>






    </tr>


    <tr>



        <td>Narayani</td>





        <td>Jyamirebari</td>





            <!-- No Danger in [u&#39;Narayani&#39;, u&#39;Jyamirebari&#39;, u&#39;Below Warning Level&#39;] <br /> -->

        <td>Below Warning Level</td>






    </tr>


    <tr>



        <td>Bagmati</td>





        <td>Thankot</td>





            <!-- No Danger in [u&#39;Bagmati&#39;, u&#39;Thankot&#39;, u&#39;Below Warning Level&#39;] <br /> -->

        <td>Below Warning Level</td>






    </tr>


    <tr>



        <td>Bagmati</td>





        <td>Godavari</td>





            <!-- No Danger in [u&#39;Bagmati&#39;, u&#39;Godavari&#39;, u&#39;Below Warning Level&#39;] <br /> -->

        <td>Below Warning Level</td>






    </tr>


    <tr>



        <td>Bagmati</td>





        <td>Kathmandu Airport</td>





            <!-- No Danger in [u&#39;Bagmati&#39;, u&#39;Kathmandu Airport&#39;, u&#39;Below Warning Level&#39;] <br /> -->

        <td>Below Warning Level</td>






    </tr>


    <tr>



        <td>Bagmati</td>





        <td>Babarmahal</td>





            <!-- No Danger in [u&#39;Bagmati&#39;, u&#39;Babarmahal&#39;, u&#39;Below Warning Level&#39;] <br /> -->

        <td>Below Warning Level</td>






    </tr>


    <tr>



        <td>Bagmati</td>





        <td>Nagarkot</td>





            <!-- No Danger in [u&#39;Bagmati&#39;, u&#39;Nagarkot&#39;, u&#39;Below Warning Level&#39;] <br /> -->

        <td>Below Warning Level</td>






    </tr>


    <tr>



        <td>Bagmati</td>





        <td>Budhanilkantha</td>





            <!-- No Danger in [u&#39;Bagmati&#39;, u&#39;Budhanilkantha&#39;, u&#39;Below Warning Level&#39;] <br /> -->

        <td>Below Warning Level</td>






    </tr>


    <tr>



        <td>Bagmati</td>





        <td>Sundarijal</td>





            <!-- No Danger in [u&#39;Bagmati&#39;, u&#39;Sundarijal&#39;, u&#39;Below Warning Level&#39;] <br /> -->

        <td>Below Warning Level</td>






    </tr>


    <tr>



        <td>Bagmati</td>





        <td>Sindhuligadhi</td>





            <!-- No Danger in [u&#39;Bagmati&#39;, u&#39;Sindhuligadhi&#39;, u&#39;Below Warning Level&#39;] <br /> -->

        <td>Below Warning Level</td>






    </tr>


    <tr>



        <td>Bagmati</td>





        <td>Bagmati at Khokana</td>





            <!-- No Danger in [u&#39;Bagmati&#39;, u&#39;Bagmati at Khokana&#39;, u&#39;Below Warning Level&#39;] <br /> -->

        <td>Below Warning Level</td>






    </tr>


    <tr>



        <td>Bagmati</td>





        <td>Bagmati at Bhorleni</td>





            <!-- No Danger in [u&#39;Bagmati&#39;, u&#39;Bagmati at Bhorleni&#39;, u&#39;Below Warning Level&#39;] <br /> -->

        <td>Below Warning Level</td>






    </tr>


    <tr>



        <td>Bagmati</td>





        <td>Marin Khola at Kusumtar</td>





            <!-- No Danger in [u&#39;Bagmati&#39;, u&#39;Marin Khola at Kusumtar&#39;, u&#39;Below Warning Level&#39;] <br /> -->

        <td>Below Warning Level</td>






    </tr>


    <tr>



        <td>Bagmati</td>





        <td>Daman</td>





            <!-- No Danger in [u&#39;Bagmati&#39;, u&#39;Daman&#39;, u&#39;Below Warning Level&#39;] <br /> -->

        <td>Below Warning Level</td>






    </tr>


    <tr>



        <td>Bagmati</td>





        <td>Garuda</td>





            <!-- No Danger in [u&#39;Bagmati&#39;, u&#39;Garuda&#39;, u&#39;Below Warning Level&#39;] <br /> -->

        <td>Below Warning Level</td>






    </tr>


    <tr>



        <td>Koshi</td>





        <td>Jiri</td>





            <!-- No Danger in [u&#39;Koshi&#39;, u&#39;Jiri&#39;, u&#39;Below Warning Level&#39;] <br /> -->

        <td>Below Warning Level</td>






    </tr>


    <tr>



        <td>Koshi</td>





        <td>Okhaldhunga</td>





            <!-- No Danger in [u&#39;Koshi&#39;, u&#39;Okhaldhunga&#39;, u&#39;Below Warning Level&#39;] <br /> -->

        <td>Below Warning Level</td>






    </tr>


    <tr>



        <td>Koshi</td>





        <td>Tumlingtar</td>





            <!-- No Danger in [u&#39;Koshi&#39;, u&#39;Tumlingtar&#39;, u&#39;Below Warning Level&#39;] <br /> -->

        <td>Below Warning Level</td>






    </tr>


    <tr>



        <td>Koshi</td>





        <td>Bhote Koshi at Bahrabise</td>





            <!-- No Danger in [u&#39;Koshi&#39;, u&#39;Bhote Koshi at Bahrabise&#39;, u&#39;Below Warning Level&#39;] <br /> -->

        <td>Below Warning Level</td>






    </tr>


    <tr>



        <td>Koshi</td>





        <td>Sunkoshi at Pachuwarghat</td>





            <!-- No Danger in [u&#39;Koshi&#39;, u&#39;Sunkoshi at Pachuwarghat&#39;, u&#39;Below Warning Level&#39;] <br /> -->

        <td>Below Warning Level</td>






    </tr>


    <tr>



        <td>Koshi</td>





        <td>Tamakoshi at Busti</td>





            <!-- No Danger in [u&#39;Koshi&#39;, u&#39;Tamakoshi at Busti&#39;, u&#39;Below Warning Level&#39;] <br /> -->

        <td>Below Warning Level</td>






    </tr>


    <tr>



        <td>Koshi</td>





        <td>Dhankuta</td>





            <!-- No Danger in [u&#39;Koshi&#39;, u&#39;Dhankuta&#39;, u&#39;Below Warning Level&#39;] <br /> -->

        <td>Below Warning Level</td>






    </tr>


    <tr>



        <td>Kankai</td>





        <td>Kankai at Mainachuli</td>





            <!-- No Danger in [u&#39;Kankai&#39;, u&#39;Kankai at Mainachuli&#39;, u&#39;Below Warning Level&#39;] <br /> -->

        <td>Below Warning Level</td>






    </tr>

</tr>
</table>


